@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-page">
    @*<h1>
        <img src="~/icon.jpg">
        Bienvenido a Sipecom.FactElec.Pymes.Servicios.Api.Identidad
    </h1>*@

    <ul>
        <li>
            <a href="~/.well-known/openid-configuration">Discovery document</a>
        </li>
    </ul>
</div>

