<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IVA12" value="12" />
    <add key="DFECHA12" value="01/05/1000" />
    <add key="HFECHA12" value="31/05/2016" />
    <add key="IVA14" value="14" />
    <add key="DFECHA14" value="01/06/2016" />
    <add key="HFECHA14" value="25/05/2017" />
    <add key="IVADES12" value="12" />
    <add key="DFECHADES12" value="26/05/2017" />
    <add key="HFECHADES12" value="01/07/2900" />
    <add key="F01" value="SIN UTILIZACION DEL SISTEMA FINANCIERO (Efectivo)" />
    <add key="F02" value="CHEQUE PROPIO" />
    <add key="F03" value="CHEQUE CERTIFICADO" />
    <add key="F04" value="CHEQUE DE GERENCIA" />
    <add key="F05" value="CHEQUE DEL EXTERIOR" />
    <add key="F06" value="DÉBITO DE CUENTA" />
    <add key="F07" value="TRANSFERENCIA PROPIO BANCO" />
    <add key="F08" value="TRANSFERENCIA OTRO BANCO NACIONAL" />
    <add key="F09" value="TRANSFERENCIA BANCO EXTERIOR" />
    <add key="F10" value="TARJETA DE CRÉDITO NACIONAL" />
    <add key="F11" value="TARJETA DE CRÉDITO INTERNACIONAL" />
    <add key="F12" value="GIRO" />
    <add key="F13" value="DEPOSITO EN CUENTA (CORRIENTE/AHORROS)" />
    <add key="F14" value="ENDOSO DE INVERSIÒN" />
    <add key="F15" value="COMPENSACIÓN DE DEUDAS" />
    <add key="F16" value="TARJETA DE DÉBITO" />
    <add key="F17" value="DINERO ELECTRÓNICO" />
    <add key="F18" value="TARJETA PREPAGO" />
    <add key="F19" value="TARJETA DE CRÉDITO" />
    <add key="F20" value="OTROS CON UTILIZACION DEL SISTEMA FINANCIERO" />
    <add key="F21" value="ENDOSO DE TÍTULOS" />
    <add key="CS1" value="DESCUENTO SOLIDARIO" />
    <add key="CS2" value="DEVOLUCIÓN DINERO ELECTRÓNICO" />
    <add key="CS3" value="DEVOLUCIÓN TARJETA DEBITO O PREPAGO" />
    <add key="CS4" value="DEVOLUCIÓN TARJETA CRÉDITO" />
    <add key="CS5" value="DEVOLUCIÓN DINERO ELECTRÓNICO" />
    <add key="CS6" value="DEVOLUCIÓN TARJETA DEBITO O PREPAGO" />
    <add key="CS7" value="DEVOLUCIÓN TARJETA CRÉDITO" />
    <add key="RutaImagenesArchivoRIDE" value="C:\app\Correos" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>