@model Sipecom.FactElec.Pymes.Servicios.Api.Identidad.Models.Account.ChangePasswordViewModel

<div class="fondoRecupPassword">
    <div class="row">
        <div class="col-md-6 formCenter mt-2">
            <div class="card-body">
                <div class="invoicecCenter">
                    <img src="~/imagenes/invoicec-pymes.png" width="300" height="113" />
                </div>
                <div class="text-center mt-4">
                    <label class="txt-bold">Su contraseña fue cambiada correctamente.</label>
                </div>

                <div class="form-group text-center mt-4">
                        <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="color-primary-pymes txt-bold">Volver a Inicio de Sesión</a>
                    </div>
            </div>

        </div>
    </div>
</div>