@model Sipecom.FactElec.Pymes.Servicios.Api.Identidad.Models.Account.ChangePasswordViewModel

<div class="fondoRecupPassword">
    <div class="row">
        <div class="col-md-6 formCenter mt-4">
            <div class="card-body">
                <form asp-action="ChangePassword">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="invoicecCenter">
                        <img src="~/imagenes/invoicec-pymes.png" width="300" height="113" />
                    </div>
                    <div class="form-group">
                        <input asp-for="Username" type="text" class="form-control" placeholder="Usuario" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Contraseña Temporal" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nueva Contraseña" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-2">
                        <input type="submit" value="Cambiar Contraseña" class="btn btn-primary-pymes" />
                    </div>
                    <div class="form-group text-right">
                        <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="color-primary-pymes txt-bold">Volver al Inicio de Sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>