@model Sipecom.FactElec.Pymes.Servicios.Api.Identidad.Models.Account.RecuperarPasswordViewModel

<div class="fondoRecupPassword">

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-md-6 formCenter mt-4">
            <div class="card-body">

                <form id="frmRecPwd" asp-action="RecuperarPassword">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <input type="hidden" asp-for="Accion" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="invoicecCenter">
                        <img src="~/imagenes/invoicec-pymes.png" width="300" height="113" />
                    </div>
                    <div class="text-center mt-2">
                        <label>Le enviaremos un código a su correo para que pueda cambiar la contraseña.</label>
                    </div>
                    <div class="text-center mt-2">
                        <label class="txt-bold">Revise su correo y siga las instrucciones</label>
                    </div>
                    <div class="form-group mt-1">
                        <input asp-for="Username" type="text" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center mt-2">
                        <input type="submit" name="btnRecPwd" id="btnRecPwd" value="Recuperar Contraseña" class="btn btn-primary-pymes" />
                    </div>
                    <div class="form-group text-right mt-4">
                        <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="color-primary-pymes txt-bold">Volver al Inicio de Sesión</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>